@import "./reset.css";

@font-face {
    font-family: 'Gilam';
    src: url('fonts/gilambold.eot');
    src: url('fonts/gilambold.eot') format('embedded-opentype'),
         url('fonts/gilambold.woff2') format('woff2'),
         url('fonts/gilambold.woff') format('woff'),
         url('fonts/gilambold.ttf') format('truetype'),
         url('fonts/gilambold.svg#gilambold') format('svg');
         font-style: normal;      
         font-weight: 700;
}

@font-face {
    font-family: 'Gilam';
    src: url('fonts/gilamsemibold.eot');
    src: url('fonts/gilamsemibold.eot') format('embedded-opentype'),
         url('fonts/gilamsemibold.woff2') format('woff2'),
         url('fonts/gilamsemibold.woff') format('woff'),
         url('fonts/gilamsemibold.ttf') format('truetype'),
         url('fonts/gilamsemibold.svg#gilamsemibold') format('svg');
         font-style: normal;      
         font-weight: 600;
}

@font-face {
    font-family: 'Gilam';
    src: url('fonts/gilamregular.eot');
    src: url('fonts/gilamregular.eot') format('embedded-opentype'),
         url('fonts/gilamregular.woff2') format('woff2'),
         url('fonts/gilamregular.woff') format('woff'),
         url('fonts/gilamregular.ttf') format('truetype'),
         url('fonts/gilamregular.svg#gilamregular') format('svg');
         font-style: normal;      
         font-weight: 500;
}

@font-face {
    font-family: 'Gilam';
    src: url('fonts/gilambook.eot');
    src: url('fonts/gilambook.eot') format('embedded-opentype'),
         url('fonts/gilambook.woff2') format('woff2'),
         url('fonts/gilambook.woff') format('woff'),
         url('fonts/gilambook.ttf') format('truetype'),
         url('fonts/gilambook.svg#gilambook') format('svg');
         font-style: normal;      
         font-weight: 400;
}

* {
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #171717;
}

.header {
    width: 100%;
    height: 100%;
    background-image: url(./images/header-bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
    padding-top: 37px;
}

.container {
    max-width: 1460px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: baseline;
}

.logo {
    width: 216px;
    height: 33px;
}

.phone {
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    justify-self: end;
}

.colored-code {
    color: #D6AF76;
}

.number {
    color: #FFFFFF;
}

.btn {
    width: auto;
    height: 50px;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    display: inline-block;
    background: transparent;
    color: #E4B564;
    border: 1px solid #E4B564;
    padding: 10px 22px;
    margin-left: 49px;  
}

.handset{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.preview-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 120px;
}

.prev-title {
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 40px;
    color: #fff;
}

.prev-text {
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    margin-top: 41px;
}

.gallery-jobs {
    height: 100vh;
    display: grid;
    /* grid-template-columns: 468px 220px 220px 468px;      */
    /* grid-template-rows: repeat(2, 467px); */
    grid-template-columns: 2fr 0.94fr 0.94fr 2fr;     
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 28px;
    margin: 41px 0;
}

.jobs-item {
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 43px;
    padding-right: 43px;
}

.jobs-item:first-child {
    background-color: #634F2C;
}

.jobs-item:nth-child(2) {
    background-color: #B4A385;
    grid-column: span 2;
}

.jobs-item:nth-child(3) {
    background-color: #E4B564;
}

.jobs-item:nth-child(4) {
    background-color: #635A4A;
    grid-column: span 2;
}

.jobs-item:last-child {
    background-color: #B08C4D;
    grid-column: span 2;
}

.main {
    width: 100%;
    min-height: 100%;
}

.gallery-equipment {
    height: 100vh;
    display: grid;
    /* grid-template-columns: repeat(3, 466px);      */
    /* grid-template-rows: 255px 58px 126px 129px 277px 1px; */
    grid-template-columns: repeat(3, 1fr);     
    grid-template-rows: 0.8fr 0.2fr 0.3fr 0.4fr 0.9fr 1px;  
    grid-gap: 26px 31px;
    margin-top: 94px;
    margin-bottom: 191px;
}

.equipment-item {
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    padding-left: 50px;
}

.equipment-model {
    font-weight: 700;
}

.equipment-item:first-child {
    font-weight: 400;
    background-color: #0E0E0E;
    grid-row: span 2;
}

.equipment-item:nth-child(2) {
    font-weight: 400;
    background-color: #242424;
    grid-row: span 3;
}

.equipment-item:nth-child(3) {
    background-color: #1F1F1F;
}

.equipment-item:nth-child(4) {
    background-color: #1F1F1F;
    grid-area: 3/1/7/2;
}

.equipment-item:nth-child(5) {
    color: #000;
    background-color: #E4B564;
    grid-area: 4/2/6/3;
}

.equipment-item:nth-child(6) {
    background-color: #0E0E0E;
    grid-area: 2/3/5/4;
}

.equipment-item:last-child {
    font-weight: 700;
    background-color: #0A0909;
    grid-area: 5/3/7/4;
}

.footer {
    width: 100%;
    height: 100%;
    background-image: url(./images/parallax-bg.jpeg);
    background-size: cover;
    padding-top: 161px;
    padding-bottom: 239px;
}

.gallery-clients {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);     
    grid-template-rows: repeat(2, 1fr);  
    margin-top: 61px;
}

.clients-item {
    font-family: 'Gilam', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-adress {
    color: #fff;

}
.info-text {
    font-family: 'Gilam', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #fff;
}

.clients-item:first-child {
    background-color: #634F2C;
}

.clients-item:nth-child(2) {
    background-color: #E8D2ABC2;
}

.clients-item:nth-child(3) {
    background-color: #E4B564;
}

.clients-item:nth-child(4) {
    background-color: #635A4A;
}

.clients-item:nth-child(5) {
    background-color: #B08C4D;
}

.clients-item:last-child {
    background-color: #634F2C;
}

/* Euroinvest Development */
.img1 {
    width: 185px;
    height: 49px;
}

/* MAVIC */
.img2 {
    width: 139px;
    height: 55px;
}

/* logo MAVIC */
.img3 {
    width: 62px;
    height: 55px;
}

/* ARSENAL */
.img4 {
    width: 190px;
    height: 42px;
}

/* SetGrop */
.img5 {
    width: 119px;
    height: 53px;
}




