@font-face {
    font-family: 'Gilam';
    src: url('fonts/gilambold.eot');
    src: url('fonts/gilambold.eot') format('embedded-opentype'),
         url('fonts/gilambold.woff2') format('woff2'),
         url('fonts/gilambold.woff') format('woff'),
         url('fonts/gilambold.ttf') format('truetype'),
         url('fonts/gilambold.svg#gilambold') format('svg');
}
